
<div class="container" style="background-color: #ffffff;">
 <div class="row">
 <br/><br/><br/><br/>
   <div class="col col-md-offset-2 col-md-10">

     <h3 class="col-md-offset-4">Edit facility</h3>
 
    <div class="form-horizontal">
      <%= form_for @facility, :url =>{:action => 'update', :facility_id =>@facility} do |f| %>
    <div class="row"> <br/>
       <div class="col col-md-2">
         <label for = "facility_id">Facility Id:</label>
       </div>
       <div class="col col-md-4 ">
         <%= f.text_field 'facility_id', class: 'form-control round-input'%>
       </div>
       <div class="col col-md-2">
         <label for = "name">Facility Name:</label>
       </div>
       <div class="col col-md-4 ">
        <%= f.text_field 'name', class: 'form-control round-input' %>
       </div>      
    </div>
    <div class="row"> <br/>
      <div class="col col-md-2">
        <label for = "description">Description:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'description', class: 'form-control round-input' %>      
       </div>

       <div class="col col-md-2">
        <label for = "cell_location">Cell location:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'cell_location', class: 'form-control round-input' %>        
       </div>
    </div>
    <div class="row"> <br/>
      <div class="col col-md-2">
         <label for = "opening_date">Opening date:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'opening_date', class: 'form-control round-input' %>        
       </div>
       <div class="col col-md-2">
         <label for = "closing_date">Closing date:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'closing_date', class: 'form-control round-input' %>        
       </div>
      
    </div>
    <div class="row"> <br/>
     <div class="col col-md-2">
         <label for = "parent_facility">Referral Facility:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'parent_facility', class: 'form-control round-input' %>
              
       </div>
       <div class="col col-md-2">
         <label for = "status">Status:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'status', class: 'form-control round-input' %>
              
       </div>

    </div>
    <div class="row"> <br/>
      <div class="col col-md-2">
         <label for = "status">Latitude:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'latitude', class: 'form-control round-input' %>
              
       </div>
       <div class="col col-md-2">
         <label for = "status">Longitude:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'longitude', class: 'form-control round-input' %>
              
       </div>
    </div>
    <div class="row"> <br/>
      <div class="col col-md-2">
         <label for = "type_code">Ownership:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'type_code', class: 'form-control round-input' %>
              
       </div>
       <div class="col col-md-2">
         <label for = "email_address">Email address:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'email_address', class: 'form-control round-input' %>
              
       </div>

    </div>
    <div class="row"> <br/>
      <div class="col col-md-2">
         <label for = "phone_number">Phone Number:</label>
       </div>
       <div class="col col-md-4 ">
       <%= f.text_field 'phone_number', class: 'form-control round-input' %>
              
       </div>
    </div>
    
     <% if @utility_name.blank? %>

    <% else %>
     <% @utility_name.each do |un| %>
     <div class="row">
       <div class="col-md-3">
          <h3><strong><%= un.name %></strong></h3>
       </div>
       
      </div>
      <div class="row">
        <% numinrow = 0 %>
        <% flag = 0 %>
        <% @utilities.each do |u| %>
         <% utility_checked = 0 %>
         <% if un.name == u.name %>
          <% if (flag == 0 || (numinrow%3)!=0) %>
          <div class="col col-md-1"> 
         <%  @facility_utilities.each do |fu|
          #check if the facility utility is checked
          if(fu.utility_id == u.id) %>
             <% utility_checked = 1 %>
          <% end %>
        <% end %>
        <% if (utility_checked == 1) %>

          <%= check_box_tag 'utilities[]', u.id, {:checked => "checked"} %> 
         <% else %>
          <%= check_box_tag 'utilities[]', u.id %> 
          <% end %>
        </div>
          <div class="col col-md-3"><%= u.provider %></div>
          <% else %>
        </div><div class="row"><br/>
          
          <div class="col col-md-1">
          <%  @facility_utilities.each do |fu|
          #check if the facility utility is checked
          if(fu.utility_id == u.id) %>
             <% utility_checked = 1 %>
          <% end %>
        <% end %>
          <% if (utility_checked == 1) %>

          <%= check_box_tag 'utilities[]', u.id, {:checked => "checked"} %> 
         <% else %>
          <%= check_box_tag 'utilities[]', u.id %> 
          <% end %>
        </div>
          <div class="col col-md-3"><%= u.provider %></div> 
          
        <% end %>
         <% end %>
         <!-- increment the number of items in a row and the flag-->
         <% numinrow += 1 %>
         <% flag = 1 %>
        <% end %> <!-- utilities loop ends here -->
        </div>
      <% end %> <!-- utility name loop ends here -->
     

    <% end %> <!-- if blank  ends here -->
     
    <% if @services.blank? %>

    <% else %>
     
     <div class="row">
       <div class="col-md-3">
          <h3><strong>Services</strong></h3>
       </div>
       
      </div>
      <div class="row">
        <% numinrow = 0 %>
        <% flag = 0 %>
        <% @services.each do |s| %>
        <% service_checked = 0 %>
          <% if (flag == 0 || (numinrow%3)!=0) %>
          <div class="col col-md-1">

        <%  @facility_services.each do |fs|
          #check if the facility services is checked
          if(fs.service_id == s.id) %>
             <% service_checked = 1 %>
          <% end %>
        <% end %>
        <% if (service_checked == 1) %>

          <%= check_box_tag 'services[]', s.id, {:checked => "checked"} %> 
         <% else %>
          <%= check_box_tag 'services[]', s.id %> 
          <% end %>              

           </div>
          <div class="col col-md-3"><%= s.name %></div>
          <% else %>
        </div><div class="row"><br/>
          
          <div class="col col-md-1">
          <%  @facility_services.each do |fs|
          #check if the facility services is checked
          if(fs.service_id == s.id) %>
             <% service_checked = 1 %>
          <% end %>
        <% end %>
        <% if (service_checked == 1) %>

          <%= check_box_tag 'services[]', s.id, {:checked => "checked"} %> 
         <% else %>
          <%= check_box_tag 'services[]', s.id %> 
          <% end %>              
            </div>
          <div class="col col-md-3"><%= s.name %></div>

        <% end %>
        <!-- increment the number of items in a row and the flag-->
        <% numinrow += 1 %>
        <% flag = 1 %>
      <% end %> <!-- services loop ends here -->
    
     </div>
     <% end %> <!-- if services blank ends here -->

    <% if @locations.blank? %>

    <% else %>
      <div class="row">
        <% population = "" %>
        <% area = "" %>
        <% location_id = "" %>
       <% @facility_locations.each do |fl| %>
        <% @locations.each do |l| %>
         <% if(fl.location_id == l.id) %>
            <% population = fl.population %>
            <% area = l.area %>
            <% location_id = fl.location_id %>
         <% end %>
         <% end %>
       <% end %>
       
      <div class="col-md-3">
        <h3><strong>Location</strong></h3>
       <%= hidden_field_tag 'locationid', location_id %>
      </div>
     </div>
     <div class="row">
        <div class="col col-md-1">Zone:</div>
        <div class="col col-md-2"><%= select "facility_location", "zonename", [[ "Northern", "1"],["Central East", "2"],["Central West","3"],["South East","4"],["South West","5"]]%></div>
        <div class="col col-md-1">District:</div>
         <div class="col col-md-2 ">
        <%= select "districts", "districtname", [[ "Chitipa", "chitipa"],["Karonga", "karonga"],["Nkhata Bay","nkhata bay"],["Mzimba","mzimba"],["Kasungu","kasungu"],["Lilongwe","lilongwe"],["Mchinji","mchinji"],["Dedza","dedza"],["Ntcheu","ntcheu"]]%>
       </div>
       <div class="col col-md-1">Area:</div>
       <div class="col col-md-2 ">
       <%= text_field_tag 'area',area, class: 'form-control round-input' %>
              
       </div>
       <div class="col col-md-1">Population:</div>
       <div class="col col-md-2 ">
       <%= text_field_tag 'population', population , class: 'form-control round-input' %>
        </div>
      </div>
    <% end %>





      
     <% if @resources.blank? %>

    <% else %>
     
     <div class="row">
       <div class="col-md-3">
          <h3><strong>Resources</strong></h3>
       </div>
       
      </div>
      <div class="row">
        <% numinrow = 0 %>
        <% flag = 0 %>
        <% @resources.each do |r| %>
          <% resource_checked = 0 %>
          <% resource_amount = 0 %>
          <% if (flag == 0 || (numinrow%3)!=0) %>
          <div class="col col-md-1">
          <%  @facility_resources.each do |fr|
          #check if the facility resources is checked
          if(fr.resource_id == r.id) %>
             <% resource_checked = 1 %>
             <% resource_amount = fr.resource_quantity %>
          <% end %>
        <% end %>          
          <% if (resource_checked == 1) %>

          <%= check_box_tag 'resources[]', r.id, {:checked => "checked"} %> 
         <% else %>
          <%= check_box_tag 'resources[]', r.id %> 
          <% end %>
          </div>
          <div class="col col-md-1"><%= r.name %>:</div>
          <div class="col col-md-1 ">
          <%= text_field_tag 'quantity[]',resource_amount ,class: 'form-control round-input'  %>     
          </div>

          <% else %>
        </div><div class="row"><br/>
          <div class="col col-md-1">
        <%  @facility_resources.each do |fr|
          #check if the facility resources is checked
          if(fr.resource_id == r.id) %>
             <% resource_checked = 1 %>
             <% resource_amount = fr.resource_quantity %>
          <% end %>
        <% end %>
          <% if (resource_checked == 1) %>
          <%= check_box_tag 'resources[]', r.id, {:checked => "checked"} %> 
         <% else %>
          <%= check_box_tag 'resources[]', r.id %> 
          <% end %>

          </div>
          <div class="col col-md-1"><%= r.name %>:</div>
          <div class="col col-md-1 ">
          <%= text_field_tag 'quantity[]',resource_amount, class: 'form-control round-input'  %>     
          </div>

        <% end %>
          <!-- increment the number of items in a row and the flag-->
        <% numinrow += 1 %>
        <% flag = 1 %>
      <% end %><!-- resources loop ends here -->
    
     </div>
     <% end %> <!-- if resources blank ends here -->
   

    <div class="row"> <br/>
      <div class="col col-md-2">
         
       </div>
       <div class="col col-md-4">
      <%= submit_tag 'Update', class: 'btn btn-primary' %>
              
       </div>
       <div class="col col-md-1 btn btn-warning">
      <a href="/facilities/list">Cancel</a>
              
       </div>
    </div>      
      <% end %> <!-- form ends here -->
    </div>
   </div>
 </div>
  
</div>