
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">            
              <!--overview start-->
			  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="fa fa-laptop"></i>Dashboard</li>						  	
					</ol>
				</div>
			</div>
              
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-hospital-o"></i>
                        <div class="count">4</div>
                        <div class="title">Central Hospitals</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">
                        <i class="fa fa-plus-circle"></i>
                        <div class="count">28</div>
                        <div class="title">District Hospitals</div>                     
                    </div><!--/.info-box-->         
                </div><!--/.col-->  
                
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-plus-square"></i>
                        <div class="count">90</div>
                        <div class="title">Hospitals</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box green-bg">
                        <i class="fa fa-medkit"></i>
                        <div class="count">511</div>
                        <div class="title">Health Centres</div>                     
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">
                        <i class="fa fa-ambulance"></i>
                        <div class="count">720</div>
                        <div class="title">Clinics</div>                     
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-cubes"></i>
                        <div class="count">1679</div>
                        <div class="title">Health Facilities</div>                     
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                
            </div><!--/.row-->
		
    <div class="row">
		    <div class="col-lg-3 col-md-3">
					 <h4> <strong>Click a district on the map to show the details</strong> </h4> 
					  <form id="form1" >
  
     <div id="map1" style="width: 400px; height: 400px"></div>
     <script type="text/javascript">
     var latitude = -13.99164
     var longitude = 33.77561
     var facility_name = "Bwaila Hospital"
         
function myMap() {
  var myCenter = new google.maps.LatLng(latitude,longitude);
  var mapCanvas = document.getElementById("map1");
  var mapOptions = {center: myCenter, zoom: 8};
  var map2 = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map2);

  var infowindow = new google.maps.InfoWindow({
    content: facility_name
  });
  infowindow.open(map2,marker);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-MrJ0WnBYzAA1A2SwzyCX4UTnDi-fjw8&callback=myMap"></script>
						
				</div>
                <div class="col col-lg-3 col-md-3" style="background-color: #ffffff;">
                    <h4> <strong></strong> </h4> 
                           
                  <div class="row"> <br/>
                     <div class="col col-md-4">
                       <label for = "facility_id">Facility Name:</label>
                     </div>
                     <div class="col col-md-8 ">
                       Bwaila Hospital
                     </div>      
                  </div>
                  <div class="row"> <br/>
                     <div class="col col-md-4">
                       <label for = "facility_id">Facility Id:</label>
                     </div>
                     <div class="col col-md-8 ">
                       LL01001
                     </div>      
                  </div>
                  <div class="row"> <br/>
                     <div class="col col-md-4">
                       <label for = "facility_id">Refferal Facility:</label>
                     </div>
                     <div class="col col-md-8 ">
                       LL01001
                     </div>      
                  </div>
                  <div class="row"> <br/>
                     <div class="col col-md-4">
                       <label for = "facility_id">District:</label>
                     </div>
                     <div class="col col-md-8 ">
                       Lilongwe
                     </div>      
                  </div>
                  <div class="row"> <br/>
                     <div class="col col-md-4">
                       <label for = "facility_id">Population:</label>
                     </div>
                     <div class="col col-md-8 ">
                       350 000
                     </div>      
                  </div>
                  <div class="row"> <br/>
                     <div class="col col-md-4">
                       <label for = "facility_id">Services:</label>
                     </div>
                     <div class="col col-md-8 ">
                       Family Planning, Maternity, OPD
                     </div>      
                  </div>
                  <div class="row"> <br/>
                     <div class="col col-md-4">
                       <label for = "facility_id">Electricity:</label>
                     </div>
                     <div class="col col-md-8 ">
                          Escom & Generator
                     </div>      
                  </div>
                  <div class="row"> <br/>
                     <div class="col col-md-4">
                       <label for = "facility_id">Water:</label>
                     </div>
                     <div class="col col-md-8 ">
                       Tap water (Lilongwe Water Board)
                     </div>      
                  </div>
                   
                </div>
              <div class="col-md-3">
                 <h4>Number of people accessing services</h4>
                 <%= image_tag('bargraph.jpg', :size => "300x200") %>
              </div>
              <div class="col-md-3">
               <h4>utilization of services</h4>
              <%= image_tag('piechart.png', :size => "300x200") %>
              
              </div>
              
			 
  </div> 
           <br/><br/>
           <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    
                    <button class="btn btn-info btn-lg">Advanced Search</button>       
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-info">
                    <button class="btn btn-info btn-lg"> <%= link_to 'By partner organisation', {:action => 'search_by_partner'} %></button>
                    
                         
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <button class="btn btn-success btn-lg"><%= link_to 'Search by zone', {:action => 'search_by_zone'} %></button>
                             
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <button class="btn btn-info btn-lg"><%= link_to 'Search by district', {:action => 'searchbydistrict'} %> </button>

                </div>             
                      
            </div>		  
		  <!-- Today status end -->
              <!-- project team & activity end -->

          </section>
      </section>
      <!--main content end-->
