
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">            
              <!--overview start-->
			  <div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-laptop"></i> Dashboard</h3>
					<ol class="breadcrumb">
						<li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
						<li><i class="fa fa-laptop"></i>Dashboard</li>						  	
					</ol>
				</div>
			</div>
              
            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box blue-bg">
                        <i class="fa fa-hospital-o"></i>
                        <div class="count">4</div>
                        <div class="title">Central Hospitals</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">
                        <i class="fa fa-plus-circle"></i>
                        <div class="count">28</div>
                        <div class="title">District Hospitals</div>                     
                    </div><!--/.info-box-->         
                </div><!--/.col-->  
                
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-plus-square"></i>
                        <div class="count">90</div>
                        <div class="title">Hospitals</div>                      
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box green-bg">
                        <i class="fa fa-medkit"></i>
                        <div class="count">511</div>
                        <div class="title">Health Centres</div>                     
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box brown-bg">
                        <i class="fa fa-ambulance"></i>
                        <div class="count">720</div>
                        <div class="title">Clinics</div>                     
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <div class="info-box dark-bg">
                        <i class="fa fa-cubes"></i>
                        <div class="count">1679</div>
                        <div class="title">Health Facilities</div>                     
                    </div><!--/.info-box-->         
                </div><!--/.col-->
                
            </div><!--/.row-->
		
			
           <div class="row">
		    <div class="col-lg-3 col-md-3">
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2><i class="fa fa-map-marker red"></i><strong>Malawi</strong></h2>
							<div class="panel-actions">
								<a href="index.html#" class="btn-setting"><i class="fa fa-rotate-right"></i></a>
								<a href="index.html#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
								<a href="index.html#" class="btn-close"><i class="fa fa-times"></i></a>
							</div>	
						</div>
						<div class="panel-body-map">
							<%= image_tag('malawi.jpg', :size => "365x370")	%>
						</div>
	
					</div>
				</div>
                <div class="col col-lg-3 col-md-3">
                    filter and update the map
                           <%= form_tag :action => 'create' do %>
    <div class="row"> <br/>
       <div class="col col-md-2">
         <label for = "facility_id">Facility type:</label>
       </div>
       <div class="col col-md-4 ">
         <%= text_field 'facility', 'facility_id', class: 'form-control round-input'%>
       </div>      
    </div>
    <div class="row"> <br/>
      <div class="col col-md-2">
         <label for = "name">Facility ownership:</label>
       </div>
       <div class="col col-md-4 ">
        <%= text_field 'facility', 'name', class: 'form-control round-input' %>
       </div>
    </div>
    <div class="row"> <br/>
       <div class="col col-md-2">
         <label for = "description">Description:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'description', class: 'form-control round-input' %>        
       </div>
       <% end %>
    </div>  
                </div>
              <div class="col-md-3">
                 <h4>Number of people accessing services</h4>
                 <%= image_tag('bargraph.jpg', :size => "300x200") %>
              </div>
              <div class="col-md-3">
               <h4>utilization of services</h4>
              <%= image_tag('piechart.png', :size => "300x200") %>
              
              </div>
              
			 
           </div> 
           <br/><br/>
           <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    
                    <button class="btn btn-info btn-lg">Advanced Search</button>       
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-info">
                    <button class="btn btn-info btn-lg"> <%= link_to 'By partner organisation', {:action => 'search_by_partner'} %></button>
                    
                         
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <button class="btn btn-success btn-lg"><%= link_to 'Search by zone', {:action => 'search_by_zone'} %></button>
                             
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <button class="btn btn-info btn-lg"><%= link_to 'Search by district', {:action => 'searchbydistrict'} %> </button>

                          <%= link_to 'Search by district', {:action => 'searchbydistrict'} %>
                </div>             
                      
            </div>		  
		  <!-- Today status end -->
              <!-- project team & activity end -->

          </section>
      </section>
      <!--main content end-->
