<div class="container">
    <div class="row">
    	<div class="col col-md-offset-2 col-md-10">
    		<br/><br/><br/><br/><h4><strong>list of health facilities</strong></h4>
	<p id="notice"><%= notice %></p>
	<% if @facilities.blank? %>
	<p> There are no facilities currently in the system</p>
	<% else %>
	<p>These are the list of current facilities in the system</p>
	<table class="table table-striped table-advance table-hover">
		<th>facility id </th>
		<th>facility name </th>
		<th>description </th>
		<th>cell location </th>
		<th colspan="3"><i class="icon_cogs"></i>Action</th>
		

	<% @facilities.each do |f| %>
	
		<tr>
		<td><%= f.facility_id %></td>
		<td><%= f.name %></td>
		<td><%= f.description %></td>
		<td><%= f.cell_location %></td>
		<td><%= link_to 'View', {:action => 'show', :facility_id => f.facility_id} %></td>
		<td><%= link_to 'Edit', {:action => 'edit', :facility_id => f.facility_id} %></td>
		<td><%= link_to 'Delete', {:action => 'delete', :facility_id => f.facility_id}, data: {confirm: "Are you sure you want to delete this facility"} %></td>
		</tr>

	
	
	<% end %>
	</table>
	
   <% end %>
    	</div>
    </div>
	
</div>
