
<div class="container">
 <div class="row">
 <br/><br/><br/><br/>
   <div class="col col-md-offset-2 col-md-10">

     <h3 class="col-md-offset-4"><strong>Enter Facility Details</strong></h3>

    <div class="form-horizontal">
      <%= form_tag :action => 'create' do %>
      
    <div class="row"> <br/>
       <div class="col col-md-2">
         <label for = "facility_id">Facility Id:</label>
       </div>
       <div class="col col-md-4 ">
         <%= text_field 'facility', 'facility_id', class: 'form-control round-input'%>
       </div>           
          <div class="col col-md-2">
         <label for = "name">Facility Name:</label>
       </div>
       <div class="col col-md-4 ">
        <%= text_field 'facility', 'name', class: 'form-control round-input' %>
       </div>

    </div>
    <div class="row"> <br/>
        <div class="col col-md-2">
         <label for = "description">Description:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'description', class: 'form-control round-input' %>        
       </div>
       <div class="col col-md-2">
         <label for = "cell_location">Cell location:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'cell_location', class: 'form-control round-input' %>        
       </div>
    </div>
    <div class="row"> <br/>
        <div class="col col-md-2">
         <label for = "closing_date">Closing date:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'closing_date', class: 'form-control round-input' %>        
       </div>
       <div class="col col-md-2">
         <label for = "opening_date">Opening date:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'opening_date', class: 'form-control round-input' %>        
       </div>
    </div>
    <div class="row"> <br/>
          <div class="col col-md-2">
         <label for = "parent_facility">Referral Facility:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'parent_facility', class: 'form-control round-input' %>
              
       </div>
       <div class="col col-md-2">
         <label for = "status">Status:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'status', class: 'form-control round-input' %>
              
       </div>
    </div>
    
    <div class="row"> <br/>
      <div class="col col-md-2">
         <label for = "latitude">Latitude:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'parent_facility', class: 'form-control round-input' %>
              
       </div>
        <div class="col col-md-2">
         <label for = "longitude">Longitude:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'email_address', class: 'form-control round-input' %>
              
       </div>
    </div>


    <div class="row"> <br/>
      <div class="col col-md-2">
         <label for = "parent_facility">Referral Facility:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'parent_facility', class: 'form-control round-input' %>
              
       </div>
        <div class="col col-md-2">
         <label for = "email_address">Email address:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'email_address', class: 'form-control round-input' %>
              
       </div>
    </div>
    <div class="row"> <br/>
         <div class="col col-md-2">
         <label for = "phone_number">Phone Number:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'phone_number', class: 'form-control round-input' %>
              
       </div>
       <div class="col col-md-2">
         <label for = "type_code">Ownership:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'type_code', class: 'form-control round-input' %>
              
       </div>
    </div>
    
    <div class="row">
        <h3><strong>Electricity</strong></h3>
        <div class="col col-md-1"><%= check_box_tag 'utilities[]', '1'%></div>
        <div class="col col-md-3">Escom Electricity</div>

         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '2'%></div>
         <div class="col col-md-3">Solar power</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '3'%></div>
         <div class="col col-md-3">Wind Mill</div>
         
      </div>

 <div class="row">
        <h3><strong>Internet</strong></h3>
        <div class="col col-md-1"><%= check_box_tag 'utilities[]', '10'%></div>
        <div class="col col-md-1">Accesss</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '11'%></div>
         <div class="col col-md-1">Broadband</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '12'%></div>
         <div class="col col-md-1">Globe Internet</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '13'%></div>
        <div class="col col-md-1">MTL</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '14'%></div>
         <div class="col col-md-1">TNM</div>
          <div class="col col-md-1"><%= check_box_tag 'utilities[]', '15'%></div>
         <div class="col col-md-1">Airtel</div>
         
      </div>

  <div class="row">
        <h3><strong>Water</strong></h3>
        <div class="col col-md-1"><%= check_box_tag 'utilities[]', '4'%></div>
        <div class="col col-md-1">Blantyre Waterboard</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '5'%></div>
         <div class="col col-md-1">Lilongwe Waterboard</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '6'%></div>
         <div class="col col-md-1">Northern region Waterboard</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '7'%></div>
         <div class="col col-md-1">Central region Waterboard</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '8'%></div>
         <div class="col col-md-1">Southern region Waterboard</div>
         <div class="col col-md-1"><%= check_box_tag 'utilities[]', '9'%></div>
         <div class="col col-md-1">Other</div>

      </div>


      <div class="row">
        <h3><strong>Services</strong></h3>
        <div class="col col-md-1"><%= check_box_tag 'services[]', '1'%></div>
        <div class="col col-md-1">Surgery</div>
         <div class="col col-md-1"><%= check_box_tag 'services[', '2'%></div>
         <div class="col col-md-1">Family planning</div>
         <div class="col col-md-1"><%= check_box_tag 'services[]', '3'%></div>
         <div class="col col-md-1">Maternity</div>
         <div class="col col-md-1"><%= check_box_tag 'services[]', '4'%></div>
         <div class="col col-md-1">Dental</div>
         <div class="col col-md-1"><%= check_box_tag 'Services[]', '5'%></div>
         <div class="col col-md-1">Other Services</div>
         <div class="col col-md-1"><%= check_box_tag 'services[]', '6'%></div>
         <div class="col col-md-1">Other</div>


      </div>

        <div class="row">
        <h3><strong>location</strong></h3>
        <div class="col col-md-1"><%= check_box_tag 'location[]', '1'%></div>
        <div class="col col-md-1">Northern</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '2'%></div>
         <div class="col col-md-1">Central West</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '3'%></div>
         <div class="col col-md-1">Central East</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '4'%></div>
         <div class="col col-md-1">South West</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '5'%></div>
         <div class="col col-md-1">South West</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '6'%></div>


      </div>




        <div class="row">
        <h3><strong>Resources</strong></h3>
        <div class="col col-md-1"><%= check_box_tag 'location[]', '1'%></div>
        <div class="col col-md-1">Patient beds</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '2'%></div>
         <div class="col col-md-1">Central West</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '3'%></div>
         <div class="col col-md-1">Central East</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '4'%></div>s
         <div class="col col-md-1">South West</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '5'%></div>
         <div class="col col-md-1">South West</div>
         <div class="col col-md-1"><%= check_box_tag 'location[]', '6'%></div>


      </div>



    <div class="row"> <br/>
      <div class="col col-md-2">
         
       </div>
       <div class="col col-md-4">
      <%= submit_tag 'Create', class: 'btn btn-primary' %>
              
       </div>
       <div class="col col-md-1 btn btn-warning">
      <a href="">Cancel</a>
              
       </div>
    </div>      
      <% end %>
    </div>
   </div>
 </div>
  
</div>