
<div class="container" style="background-color: #ffffff;">
 <div class="row">
 <br/><br/><br/><br/>
   <div class="col col-md-offset-2 col-md-10">

     <h3 class="col-md-offset-4"><strong>Enter Facility Details</strong></h3>

    <div class="form-horizontal">
      <%= form_tag  :action => 'create' do %>

    <div class="row"> <br/>
       <div class="col col-md-2">
         <label for = "facility_id">Facility Id:</label>
       </div>
       <div class="col col-md-4 ">
         <%= text_field 'facility', 'facility_id', class: 'form-control round-input' %>
       </div>
           
          <div class="col col-md-2">
         <label for = "name">Facility Name:</label>
       </div>
       <div class="col col-md-4 ">
        <%= text_field 'facility', 'name', class: 'form-control round-input' %>
       </div>

    </div>
    <div class="row"> <br/>
        <div class="col col-md-2">
         <label for = "description">Description:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'description', class: 'form-control round-input' %>        
       </div>
       <div class="col col-md-2">
         <label for = "cell_location">Cell location:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'cell_location', class: 'form-control round-input' %>        
       </div>
    </div>
    <div class="row"> <br/>
       <div class="col col-md-2">
         <label for = "opening_date">Opening date:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'opening_date', class: 'form-control round-input' %>        
       </div>
       <div class="col col-md-2">
         <label for = "closing_date">Closing date:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'closing_date', class: 'form-control round-input' %>        
       </div>
    </div>
    <div class="row"> <br/>
          <div class="col col-md-2">
         <label for = "parent_facility">Referral Facility:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'parent_facility', class: 'form-control round-input' %>
              
       </div>
       <div class="col col-md-2">
         <label for = "status">Status:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'status', class: 'form-control round-input' %>
              
       </div>
    </div>
    
    <div class="row"> <br/>
      <div class="col col-md-2">
         <label for = "latitude">Latitude:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'latitude', class: 'form-control round-input' %>
              
       </div>
        <div class="col col-md-2">
         <label for = "longitude">Longitude:</label>
       </div>
       <div class="col col-md-4">
       <%= text_field 'facility', 'longitude', class: 'form-control round-input' %>
              
       </div>
    </div>


    <div class="row"> <br/>
        <div class="col col-md-2">
         <label for = "type_code">Ownership:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'type_code', class: 'form-control round-input' %>
              
       </div>
        <div class="col col-md-2">
         <label for = "email_address">Email address:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'email_address', class: 'form-control round-input' %>
              
       </div>
    </div>
    <div class="row"> <br/>
         <div class="col col-md-2">
         <label for = "phone_number">Phone Number:</label>
       </div>
       <div class="col col-md-4 ">
       <%= text_field 'facility', 'phone_number', class: 'form-control round-input' %>
              
       </div>
    </div>
    
    <% if @utility_name.blank? %>

    <% else %>
     <% @utility_name.each do |un| %>
     <div class="row">
       <div class="col-md-3">
          <h3><strong><%= un.name %></strong></h3>
       </div>
       
      </div>
      <div class="row">
        <% numinrow = 0 %>
        <% flag = 0 %>
        <% @utilities.each do |u| %>
          
        <% if un.name == u.name %>
          <% if (flag == 0 || (numinrow%3)!=0) %>
          <div class="col col-md-1"><%= check_box_tag 'utilities[]', u.id %></div>
          <div class="col col-md-3"><%= u.provider %></div>
          <% else %>
        </div><div class="row"><br/>
          
          <div class="col col-md-1"><%= check_box_tag 'utilities[]', u.id %></div>
          <div class="col col-md-3"><%= u.provider %></div>

        <% end %>
        <% else %>
          </div><div class="row">
        <% end %>
        <% numinrow += 1 %>
        <% flag = 1 %>
      <% end %>
     <% end %>
     </div>
     <% end %>

    
    <% if @services.blank? %>

    <% else %>
     
     <div class="row">
       <div class="col-md-3">
          <h3><strong>Services</strong></h3>
       </div>
       
      </div>
      <div class="row">
        <% numinrow = 0 %>
        <% flag = 0 %>
        <% @services.each do |s| %>
          <% if (flag == 0 || (numinrow%3)!=0) %>
          <div class="col col-md-1"><%= check_box_tag 'services[]', s.id %></div>
          <div class="col col-md-3"><%= s.name %></div>
          <% else %>
        </div><div class="row"><br/>
          
          <div class="col col-md-1"><%= check_box_tag 'services[]', s.id %></div>
          <div class="col col-md-3"><%= s.name %></div>

        <% end %>
        <% numinrow += 1 %>
        <% flag = 1 %>
      <% end %>
    
     </div>
     <% end %>

     <div class="row">
      <div class="col-md-3">
        <h3><strong>Location</strong></h3>
      </div>
     </div>
     <div class="row">
        <div class="col col-md-1">Zone:</div>
        <div class="col col-md-2"><%= select "locationid",nil, [[ "Northern", "1"],["Central East", "2"],["Central West","3"],["South East","4"],["South West","5"]]%></div>
        <div class="col col-md-1">District:</div>
         <div class="col col-md-2 ">
        <%= select "districts", "districtname", [[ "Chitipa", "chitipa"],["Karonga", "karonga"],["Nkhata Bay","nkhata bay"],["Mzimba","mzimba"],["Kasungu","kasungu"],["Lilongwe","lilongwe"],["Mchinji","mchinji"],["Dedza","dedza"],["Ntcheu","ntcheu"]]%>
       </div>
       <div class="col col-md-1">Area:</div>
       <div class="col col-md-2 ">
       <%= text_field_tag 'area', nil, class: 'form-control round-input' %>
              
       </div>
       <div class="col col-md-1">Population:</div>
       <div class="col col-md-2 ">
       <%= text_field_tag 'population', nil, class: 'form-control round-input' %>
        </div>
      </div>
    
    <% if @resources.blank? %>

    <% else %>
     
     <div class="row">
       <div class="col-md-3">
          <h3><strong>Resources</strong></h3>
       </div>
       
      </div>
      <div class="row">
        <% numinrow = 0 %>
        <% flag = 0 %>
        <% @resources.each do |r| %>
          <% if (flag == 0 || (numinrow%3)!=0) %>
          <div class="col col-md-1"><%= check_box_tag 'resources[]', r.id, :id =>"rid", :onclick =>"loadme()" %>
          </div>
          <div class="col col-md-1"><%= r.name %>:</div>
          <div class="col col-md-1 " id="q" style="visibility: hidden;">
          <%= text_field_tag 'quantity[]',nil ,class: 'form-control round-input'  %>     
          </div>

          <% else %>
        </div><div class="row"><br/>
          <div class="col col-md-1"><%= check_box_tag 'resources[]', r.id%>
          </div>
          <div class="col col-md-1"><%= r.name %>:</div>
          <div class="col col-md-1 ">
          <%= text_field_tag 'quantity[]',nil, class: 'form-control round-input'  %>     
          </div>

        <% end %>
        <% numinrow += 1 %>
        <% flag = 1 %>
      <% end %>
    
     </div>
     <% end %>



    <div class="row"> <br/>
      <div class="col col-md-2">
         
       </div>
       <div class="col col-md-4">
      <%= submit_tag 'Create', class: 'btn btn-primary' %>
              
       </div>

       <div class="col col-md-1 btn btn-warning">
      <a href="">Cancel</a>
              
       </div>
    </div>      
      <% end %>
    </div>
   </div>
 </div>
  
</div>-

<script type="text/javascript">
  
  function loadme()
        {
          alert("hello i have loaded");
            
        }   
</script>