




 <!--main content start-->            
              <!--overview start-->
        
<div class="container">
<div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa-hospital-o"></i>DISTRICT NAMES</h3>
        </div>
      </div>
 <div class="row">
   <div class="col col-md-10">
  <h3><i class="fa fa-hospital-o"></i>DISTRICT NAMES</h3>

   <h3>Select partner from drop down</h3>
 
    <div class="form-horizontal">
      <%= form_tag :action => 'searchbydistrictquery' do %>
        
      
    <div class="row"> <br/>
       <div class="col col-md-3">
         <label for = "partner_name"><h4>District name:</h4>
         </label>
       </div>
                 
       <div class="col col-md-6 ">
        <%= select "districts", "districtname", [[ "Chitipa", "chitipa"],["Karonga", "karonga"],["Nkhata Bay","nkhata bay"],["Mzimba","mzimba"],["Kasungu","kasungu"],["Lilongwe","lilongwe"],["Mchinji","mchinji"],["Dedza","dedza"],["Ntcheu","ntcheu"]]%>
       </div>

    </div>
    
    <div class="row"> <br/>
    <div class="col col-md-3">
      
    </div>
       <div class="col col-md-3">
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
              
       </div>
       <div class="col col-md-1 btn btn-warning">
      <a href="">Cancel</a>
              
       </div>
    </div>      
      <% end %>
    </div>
   </div>
 </div>

<br/>
<br/>
<br/>
<div class="row">
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    
                    <button class="btn btn-info btn-lg">Advanced Search</button>       
                </div>
                <div class="col-lg-2 col-md-4
                col-sm-12 col-info">
                    <button class="btn btn-info btn-lg"> <%= link_to ' partner organisation', {:action => 'search_by_partner'} %></button>
                    
                         
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <button class="btn btn-success btn-lg"><%= link_to 'Search by zone', {:action => 'search_by_zone'} %></button>
                             
                </div>
                <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                    <button class="btn btn-info btn-lg"><%= link_to 'Search by district', {:action => 'searchbydistrict'} %> </button>

                
                </div>             
                      
   </div> 


</div>      
      <!--main content end-->