<div class="container">
  <div class="row">
    
    <div class="col col-md-offset-0 col-md-12">
    <br/><br/><br/><br/>
    <fieldset>
  <legend>
    Facility details
  </legend>

<div class="col col-md-offset-0 col-md-4">

  <fieldset style="border: 1px solid #eee;">
  <table style="margin: auto;" cellpadding="10" cellspacing="5">
    <tr>
      <td colspan="3">
      </td>
    </tr>

<tr style="background-color: #aabbcc;"><td colspan="3" >
    <h5 style="float: left; height:4px;"><strong>Facility details</strong></h5>
    </td>
    </tr>

    <tr style="background-color: #ffffff;">
      <td>
        <strong>Facility Id:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.facility_id %>
      </td>
    </tr>

    <tr style="background-color: #ffffff;">
      <td>
        <strong> Name:</strong>
      </td>
      <td>
        :
      </td>
      <td>
       <%= @facility.name %>
      </td>
    </tr>

    <tr style="background-color: #ffffff;">
      <td>
        <strong>Description:</strong>
      </td>
      <td>
        :
      </td>
      <td>
       <%= @facility.description %>
      </td>
    </tr>


    <tr style="background-color: #ffffff;">
      <td>
        <strong>Cell Location:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.cell_location %>
      </td>
    </tr>
    <tr style="background-color: #ffffff;">
      <td>
        <strong>Opening date:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.opening_date %>
      </td>
    </tr>

    <tr style="background-color: #ffffff;">
      <td>
        <strong>Closing date:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.closing_date %>
      </td>
    </tr>
    <tr style="background-color: #ffffff;">
      <td>
        <strong>Referral facility:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.parent_facility %>
      </td>
    </tr>
    <tr style="background-color: #ffffff;">
      <td>
        <strong>Email address:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.email_address %>
      </td>
    </tr>
    <tr style="background-color: #ffffff;">
      <td>
        <strong>Phone Number:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.phone_number %>
      </td>
    </tr>
    <tr style="background-color: #ffffff;">
      <td>
        <strong>Ownership:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.type_code %>
      </td>
    </tr>
    <tr style="background-color: #ffffff;">
      <td>
        <strong>Status:</strong>
      </td>
       <td>
      :
      </td>
      <td>
        <%= @facility.status %>
      </td>
     
      </tr>
      <tr><td> <br/></td></tr>
      </table>
    
<table style="margin: auto;" cellpadding="10" cellspacing="5">

<tr style="background-color: #aabbcc;"><td colspan="3" >
    <h5 style="float: left; height:4px;">Utilities</h5>
    </td>
    </tr>

    <% @utility.each do |u| %>
      <tr style="background-color: #ffffff;">
      <td><strong><%= u.name %></strong></td>
      <td>
        :
      </td>
      <td>
        <strong><%= u.provider %></strong>
      </td>
    </tr>

    <% end %>
     <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>
     <tr><td class="col col-md-1 btn btn-info"><%= link_to 'Back', {:action => 'list'} %></td>
        
      
           
       </div></tr>
     

  </table>


  </fieldset>
</div>

<div class="col col-md-offset-2s col-md-4">

<div class="row">
<table style="margin: auto;" cellpadding="10" cellspacing="5">

    <tr>
      <td colspan="3">
    <p id="notice"><%= notice %></p>
    </td>
    </tr>
    <tr style="background-color: #aabbcc;"><td colspan="3" >
    <h5 style="float: left; height:4px;">Services</h5>
    </td>
    </tr>
     <% @service.each do |s| %>
    <tr style="background-color: #ffffff;">
    <td>
    <strong>Service name</strong>
    </td>
    <td>:</td>
    <td>
    <strong><%= s.name %></strong>
    </td>
    </tr>
    <% end -%>
    </tr>
    </table><br/>
    <table style="margin: auto;" cellpadding="10" cellspacing="5">
    <tr style="background-color: #aabbcc;"><td colspan="3" >
    <h5 style="float: left; height:4px;">Resources</h5>
    </td>
    </tr>
    <% if @resource.blank? %>
    <tr style="background-color: #ffffff;">
    <td colspan="3">
    <strong><%=  notice %></strong>
    </td>
    </tr>
      <% else %>
     <% @resource.each do |r| %>
    <tr style="background-color: #ffffff;">
    <td>
    <strong>Resource name</strong>
    </td>
    <td>:</td>
      <td>
        <strong><%= r.name %></strong>
      </td>
    </tr>
    <% end -%>
    <% end %>
    </tr>
    </table><br/>
    <table style="margin: auto;" cellpadding="10" cellspacing="5">
    <tr style="background-color: #aabbcc;"><td colspan="3" >
    <h5 style="float: left; height:4px;">Location</h5>
    </td>
    </tr>

    <% if @location.blank? %>
    <tr style="background-color: #ffffff;">
    <td colspan="3">
    <strong><%=  notice %></strong>
    </td>
    </tr>
      <% else %>
     <% @location.each do |l| %>
    <tr style="background-color: #ffffff;">
    <td>
    <strong>Zone</strong>
    </td>
    <td>:</td>
      <td>
        <strong><%= l.zone %></strong>
      </td>
      <tr style="background-color: #ffffff;">
      <td>
      <strong>District</strong>
      </td>
      <td>
      :
      </td>
      <td>
      <strong><%= l.district %></strong>
      </td>
      </tr>
      <tr style="background-color: #ffffff;">
      <td>
      <strong>Area</strong>
      </td>
      <td>
      :
      </td>
      <td>
      <strong><%= l.area %></strong>
      </td>
      </tr>
       <tr style="background-color: #ffffff;">
      <td>
      <strong>Population</strong>
      </td>
      <td>
      :
      </td>
      <td>
      <strong><%= l.population %></strong>
      </td>
      </tr>
    </tr>
    <% end -%>
    <% end %>
    </tr>

    </table>
</div>
</div>



<div class="col col-md-offset- col-md-4">
  <form id="form1" >
  
     <div id="map1" style="width: 500px; height: 500px"></div>
     <script type="text/javascript">

     var latitude = <%= @facility.longitude %>
     var longitude = <%= @facility.latitude %>
     if( latitude == "" && longitude == ""){
      var latitude = "-13.6";
      var longitude = "33.634576";
     }else{
     var facility_name = "<%= @facility.name %>"
        } 
function myMap() {
  var myCenter = new google.maps.LatLng(latitude,longitude);
  var mapCanvas = document.getElementById("map1");
  var mapOptions = {center: myCenter, zoom: 8};
  var map2 = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map2);

  var infowindow = new google.maps.InfoWindow({
    content: facility_name
  });
  infowindow.open(map2,marker);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-MrJ0WnBYzAA1A2SwzyCX4UTnDi-fjw8&callback=myMap"></script>

  
</div>

</div>

    </form>
   </div>
  </div>

