<div class="container">
  <div class="row">
    
    <div class="col col-md-offset-0 col-md-12">
    <br/><br/><br/><br/>
    <fieldset>
  <legend>
    Facility details
  </legend>

<div class="col col-md-offset-0 col-md-4">

  <fieldset style="border: 1px solid #eee;">
  <table style="margin: auto;" cellpadding="10" cellspacing="5">
    <tr>
      <td colspan="3">
        <p id="notice"><%= notice %></p>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Facility Id:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.facility_id %>
      </td>
    </tr>

    <tr>
      <td>
        <strong> Name:</strong>
      </td>
      <td>
        :
      </td>
      <td>
       <%= @facility.name %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Description:</strong>
      </td>
      <td>
        :
      </td>
      <td>
       <%= @facility.description %>
      </td>
    </tr>


    <tr>
      <td>
        <strong>Cell Location:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.cell_location %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Opening date:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.opening_date %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Closing date:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.closing_date %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Referral facility:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.parent_facility %>
      </td>
    </tr><tr>
      <td>
        <strong>Email address:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.email_address %>
      </td>
    </tr><tr>
      <td>
        <strong>Phone Number:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.phone_number %>
      </td>
    </tr><tr>
      <td>
        <strong>Ownership:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.type_code %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Status:</strong>
      </td>
       <td>
      :
      </td>
      <td>
        <%= @facility.status %>
      </td>
     
      </tr>
      <td>
      <th><h3>Utilities</h3></th>
    <% @utility.each do |u| %>
      </td>
      <tr>
      <td><strong><%= u.name %></strong></td>
      <td>
        :
      </td>
      <td>
        <strong><%= u.provider %></strong>
      </td>
      <td>
        
      </td>
    </tr>

    <% end %>

     <tr><td><%= link_to 'Back', {:action => 'list'} %></td>
              
       </div> </td></tr>
     

  </table>


  </fieldset>
</div>

<div class="col col-md-offset-2s col-md-4">

<div class="row">
<table style="margin: auto;" cellpadding="10" cellspacing="5">

    <tr>
      <td colspan="3">
    <p id="notice"><%= notice %></p>
    </td>
    </tr>
    <th><h3>Services</h3></th>
     <% @service.each do |s| %>
    <tr>
    <td>
    <strong>Service name</strong>
    </td>
    <td>:</td>
    <td>
    <strong><%= s.name %></strong>
    s</td>
    </tr>
    <% end -%>
    </tr>
    <th><h3>Resources</h3></th>
    <% if @resource.blank? %>
    <tr>
    <td colspan="3">
    <strong><%=  notice %></strong>
    </td>
    </tr>
      <% else %>
     <% @resource.each do |r| %>
    <tr>
    <td>
    <strong>Resource name</strong>
    </td>
    <td>:</td>
      <td>
        <strong><%= r.name %></strong>
      </td>
    </tr>
    <% end -%>
    <% end %>
    </tr>

<th><h3>Location</h3></th>
    <% if @location.blank? %>
    <tr>
    <td colspan="3">
    <strong><%=  notice %></strong>
    </td>
    </tr>
      <% else %>
     <% @location.each do |l| %>
    <tr>
    <td>
    <strong>Zone</strong>
    </td>
    <td>:</td>
      <td>
        <strong><%= l.zone %></strong>
      </td>
      <tr>
      <td>
      <strong>District</strong>
      </td>
      <td>
      :
      </td>
      <td>
      <strong><%= l.district %></strong>
      </td>
      </tr>
      <tr>
      <td>
      <strong>Area</strong>
      </td>
      <td>
      :
      </td>
      <td>
      <strong><%= l.area %></strong>
      </td>
      </tr>
       <tr>
      <td>
      <strong>Population</strong>
      </td>
      <td>
      :
      </td>
      <td>
      <strong><%= l.population %></strong>
      </td>
      </tr>
    </tr>
    <% end -%>
    <% end %>
    </tr>

    </table>
</div>
</div>



<div class="col col-md-offset- col-md-4">
  <form id="form1" >
  
     <div id="map1" style="width: 500px; height: 500px"></div>
     <script type="text/javascript">
         
function myMap() {
  var myCenter = new google.maps.LatLng(-13.6,33.2);
  var mapCanvas = document.getElementById("map1");
  var mapOptions = {center: myCenter, zoom: 8};
  var map2 = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map2);

  var infowindow = new google.maps.InfoWindow({
    content: "Hello World!"
  });
  infowindow.open(map2,marker);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-MrJ0WnBYzAA1A2SwzyCX4UTnDi-fjw8&callback=myMap"></script>

  
</div>

<<<<<<< HEAD


<br/><br/><br/><br/>
  <legend>
    Facility details 
  </legend>   
<div class="col col-md-offset-3 col-md-4">
  <form id="form1" >
=======
</div>

<br/><br/><br/><br/>

<br/><br/><br/><br/>
>>>>>>> 42e80880dac1a51018cf46cc32ecc8f879dde875
  



<<<<<<< HEAD
     </form>
    </div>
  </div>
=======
>>>>>>> 42e80880dac1a51018cf46cc32ecc8f879dde875

