<div class="container">
  <div class="row">
    
    <div class="col col-md-offset-0 col-md-4">
    <br/><br/><br/><br/>
    <fieldset>
  <legend>
    Facility details
  </legend>

  <fieldset style="border: 1px solid #eee;">
  <table style="margin: auto;" cellpadding="10" cellspacing="5">
    <tr>
      <td colspan="3">
        <p id="notice"><%= notice %></p>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Facility Id:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.facility_id %>
      </td>
    </tr>

    <tr>
      <td>
        <strong> Name:</strong>
      </td>
      <td>
        :
      </td>
      <td>
       <%= @facility.name %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Description:</strong>
      </td>
      <td>
        :
      </td>
      <td>
       <%= @facility.description %>
      </td>
    </tr>


    <tr>
      <td>
        <strong>Cell Location:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.cell_location %>
      </td>
    </tr>


    <tr>
      <td>
        <strong>Opening date:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.opening_date %>
      </td>
    </tr>

    <tr>
      <td>
        <strong>Closing date:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.closing_date %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Referral facility:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.parent_facility %>
      </td>
    </tr><tr>
      <td>
        <strong>Email address:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.email_address %>
      </td>
    </tr><tr>
      <td>
        <strong>Phone Number:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.phone_number %>
      </td>
    </tr><tr>
      <td>
        <strong>Ownership:</strong>
      </td>
      <td>
        :
      </td>
      <td>
        <%= @facility.type_code %>
      </td>
    </tr>
    <tr>
      <td>
        <strong>Status:</strong>
      </td>
       <td>
      :
      </td>
      <td>
        <%= @facility.status %>
      </td>
     
      </tr>
      <td>
      <th><h3>Utilities</h3></th>
    <% @utility.each do |u| %>
      </td>
      <tr>
      <td><strong><%= u.name %></strong></td>
      <td>
        :
      </td>
      <td>
        <strong><%= u.provider %></strong>
      </td>
      <td>
        
      </td>
    </tr>

    <% end %>

     <tr><td><%= link_to 'Ok', {:action => 'list'} %></td></tr>
  </table>


  </fieldset>

  
</div>

<br/><br/><br/><br/>
  <legend>
    Facility details
  </legend>   
  
<div class="col col-md-offset-4 col-md-3">
  <form id="form1" >
  
     <div id="map1" style="width: 500px; height: 500px"></div>
     <script type="text/javascript">
         
function myMap() {
  var myCenter = new google.maps.LatLng(-13.6,33.2);
  var mapCanvas = document.getElementById("map1");
  var mapOptions = {center: myCenter, zoom: 8};
  var map2 = new google.maps.Map(mapCanvas, mapOptions);
  var marker = new google.maps.Marker({position:myCenter});
  marker.setMap(map2);

  var infowindow = new google.maps.InfoWindow({
    content: "Hello World!"
  });
  infowindow.open(map2,marker);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-MrJ0WnBYzAA1A2SwzyCX4UTnDi-fjw8&callback=myMap"></script>
<!--

    </form>
</div>
  </div>
</div>

