<!DOCTYPE html>
<html>
  <head>
    <title>Malawi Health Facility Register</title>
    
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=AIzaSyB-MrJ0WnBYzAA1A2SwzyCX4UTnDi-fjw8&sensor=false" type="text/javascript">
    </script>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- Bootstrap CSS -->    
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <!-- bootstrap theme -->
    <link href="/assets/bootstrap-theme.css" rel="stylesheet">
    <!--external css-->
    <!-- font icon -->
    <link href="/assets/elegant-icons-style.css" rel="stylesheet" />
    <link href="/assets/font-awesome.min.css" rel="stylesheet" />    
    <!-- full calendar css-->
    <link href="/assets/bootstrap-fullcalendar.css" rel="stylesheet" />
	<link href="/assets/fullcalendar.css" rel="stylesheet" />
    <!-- easy pie chart-->
    <link href="/assets/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css" media="screen"/>
    <!-- owl carousel -->
    <link rel="stylesheet" href="/assets/owl.carousel.css" type="text/css">
	<link href="/assets/jquery-jvectormap-1.2.2.css" rel="stylesheet">
    <!-- Custom styles -->
	<link rel="stylesheet" href="/assets/fullcalendar.css">
	<link href="/assets/widgets.css" rel="stylesheet">
    <link href="/assets/style.css" rel="stylesheet">
    <link href="/assets/style-responsive.css" rel="stylesheet" />
	<link href="/assets/xcharts.min.css" rel=" stylesheet">	
	<link href="/assets/jquery-ui-1.10.4.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 -->
    <!--[if lt IE 9]>
      <script src="/assets/html5shiv.js"></script>
      <script src="/assets/respond.min.js"></script>
      <script src="/assets/lte-ie7.js"></script>
    <![endif]-->
  </head>

  <body>
  <!-- container section start -->
  <section id="container" class="">
     
      
      <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
            </div>

            <!--logo start-->
            <a href="/facilities/index" class="logo"> Malawi <span class="lite">Health Facility Register - MHFR</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
                <ul class="nav top-menu">                    
                    <li>
                        <form class="navbar-form">
                            <input id="mainsearch" class="form-control" placeholder="Search by facility name" type="text" onkeydown="showMenu('quicksearch')">
                        </form>
                        <!-- general search table -->
                         <!-- check if at all there are facilities in the database -->

                         <% if @allfacilities.blank? %>
                          <% else %>
                        <table class="striped highlight bordered responsive-table" style="color: #000;display: none;border:3px;" id="quicksearch">
                            <th>click on facility to view details</th>
                            <%  @allfacilities.each do |f| %>
                            <tr>
                                <td> 
                                    <a href="/facilities/show?facility_id=<%= f.facility_id %>">
                                        <%= f.name %>
                                    </a>
                                </td>
                            </tr>
                             <% end %>
                            
                        </table>
                        <% end %>
                    </div>
                    <div class="col s12 m12"></div>
                  </div> 

                        <!-- end of general search table -->
                    </li>                    
                </ul>
                <!--  search form end -->                
            </div>

            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
                  
                   <% if session[:login_status] == 'not logged in' %>                        
                            <%= @login_status %>
                    <li>
                        <button class="btn btn-sucess btn-lg"> <a href="/logins/login">Sign in</a></button>
                    </li>
                      <% #raise @login_status.inspect %>
                    <% else %>
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="/assets/avatar1_small.jpg">
                            </span>
                            <span class="username">
                                
                                <% if session[:username].blank? %>

                                <% else %>
                                <%= session[:username] %>
                                <% end %>
                            </span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class="icon_profile"></i> My Profile</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_password"></i> Change password</a>
                            </li>
                            <li>
                                <a href="#"><i class="icon_key_alt"></i> Documentation</a>
                            </li>
                            <li>
                                <a href="/logins/logout"><i class="icon_key_alt"></i> Log Out</a>
                            </li>
                            
                        </ul>
                    </li>
                    <% end %>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
      <!--header end-->

      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="/facilities/index">
                          <i class="icon_house_alt"></i>
                          <span>Dashboard</span>
                      </a>
                  </li>
				  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon_document_alt"></i>
                          <span>Facility</span>
                          <span class="menu-arrow arrow_carrot-right"></span>
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/facilities/new">Register facility</a></li>                          
                          <li><a class="" href="/facilities/list">List facilities</a></li>
                          <% if session[:login_status] == 'logged in' %> 
                          <li><a class="" href="/facilities/list">Edit facility</a></li>                          
                          <li><a class="" href="/facilities/list">Delete</a></li>
                         <% else %>
                         <% end %>
                      </ul> <br/>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <span class="menu-arrow arrow_carrot-right"></span>
                          <i class="icon_document_alt"></i>
                          <span>Facility Services</span>
                          
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/facilities/list?name=Surgery">Surgery (230)</a></li>                          
                          <li><a class="" href="/facilities/list?name=Family Planning">Family Planning (720)</a></li>
                          <li><a class="" href="/facilities/list?name=Maternity">Maternity (820)</a></li>                          
                          <li><a class="" href="/facilities/list?name=Dental">Dental (500)</a></li>
                          <li><a class="" href="/facilities/list">Other services</a></li>
                      </ul>
                  </li>       
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <span class="menu-arrow arrow_carrot-right"></span>
                          <i class="icon_genius"></i>
                          <span>Latest Updates </span>
                          
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/facilities/list">New Facilities this month</a></li>
                          <li><a class="" href="buttons.html">New Facilities this year</a></li>                          
                         </ul>  
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <span class="menu-arrow arrow_carrot-right"></span>
                          <i class="icon_genius"></i>
                          <span>Downloads </span>
                          
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/facilities/list">All facilities</a></li>
                          <li><a class="" href="buttons.html">selected facilities</a></li>                          
                         </ul>  
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <span class="menu-arrow arrow_carrot-right"></span>
                          <i class="icon_genius"></i>
                          <span>Other Links</span>
                        
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/facilities/list">Ministy of Health Website</a></li>
                          <li><a class="" href="buttons.html">Baobab Health</a></li>
                          <li><a class="" href="/facilities/list">CDC</a></li>
                          <li><a class="" href=""></a></li>
                          <li><a class="" href="/facilities/list">other link</a></li>
                          <li><a class="" href="buttons.html">other link</a></li>                          
                         </ul>  
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <span class="menu-arrow arrow_carrot-right"></span>
                          <i class="icon_genius"></i>
                          <span>About Health Facility Register </span>
                          
                      </a>
                      <ul class="sub">
                          <li><a class="" href="/facilities/list">About MHFR</a></li>
                          <li><a class="" href="buttons.html">Documentation</a></li>                          
                         </ul>  
                  </li>
                  
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!--main content start-->
      
      <!--main content end-->
  </section>


    <%= yield %>
    <!-- javascripts -->
    <script src="/assets/jquery.js"></script>
	<script src="/assets/jquery-ui-1.10.4.min.js"></script>
    <script src="/assets/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/assets/jquery-ui-1.9.2.custom.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/bootstrap.min.js"></script>
    <!-- nice scroll -->
    <script src="/assets/jquery.scrollTo.min.js"></script>
    <script src="/assets/jquery.nicescroll.js" type="text/javascript"></script>
    <!-- charts scripts -->
    <script src="/assets/jquery.knob.js"></script>
    <script src="/assets/jquery.sparkline.js" type="text/javascript"></script>
    <script src="/assets/jquery.easy-pie-chart.js"></script>
    <script src="/assets/owl.carousel.js" ></script>
    <!-- jQuery full calendar -->
    <<script src="/assets/fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
	<script src="/assets/fullcalendar.js"></script>
    <!--script for this page only-->
    <script src="/assets/calendar-custom.js"></script>
	<script src="/assets/jquery.rateit.min.js"></script>
    <!-- custom select -->
    <script src="/assets/jquery.customSelect.min.js" ></script>
	<script src="/assets/Chart.js"></script>
   
    <!--custome script for all page-->
    <script src="/assets/scripts.js"></script>
    <!-- custom script for this page-->
    <script src="/assets/sparkline-chart.js"></script>
    <script src="/assets/easy-pie-chart.js"></script>
	<script src="/assets/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="/assets/jquery-jvectormap-world-mill-en.js"></script>
	<script src="/assets/xcharts.min.js"></script>
	<script src="/assets/jquery.autosize.min.js"></script>
	<script src="/assets/jquery.placeholder.min.js"></script>
	<script src="/assets/gdp-data.js"></script>	
	<script src="/assets/morris.min.js"></script>
	<script src="/assets/sparklines.js"></script>	
	<script src="/assets/charts.js"></script>
	<script src="/assets/jquery.slimscroll.min.js"></script>
  <script>

      //knob
      $(function() {
        $(".knob").knob({
          'draw' : function () { 
            $(this.i).val(this.cv + '%')
          }
        })
      });

      //carousel
      $(document).ready(function() {
          $("#owl-slider").owlCarousel({
              navigation : true,
              slideSpeed : 300,
              paginationSpeed : 400,
              singleItem : true

          });
      });

      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });
	  
	  /* ---------- Map ---------- */
	$(function(){
	  $('#map').vectorMap({
	    map: 'world_mill_en',
	    series: {
	      regions: [{
	        values: gdpData,
	        scale: ['#000', '#000'],
	        normalizeFunction: 'polynomial'
	      }]
	    },
		backgroundColor: '#eef3f7',
	    onLabelShow: function(e, el, code){
	      el.html(el.html()+' (GDP - '+gdpData[code]+')');
	    }
	  });
	});



  </script>
  <script language="javascript">  
        function showMenu(elmnt)
        {
            document.getElementById(elmnt).style.visibility="visible";
            document.getElementById(elmnt).style.display = 'block';
            //list the table based onthe seaech
            var searchkey = document.getElementById("mainsearch").value;
            var $rows = $('#quicksearch tr');
            var val = $.trim(searchkey).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function() {
               var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        }
        function hideMenu(elmnt)
        {
            document.getElementById(elmnt).style.visibility="hidden";
            document.getElementById(elmnt).style.display = 'none';
        }   


    </script> 
  </body>
</html>
